*.iml
.idea/*
*.pyc
*.cpython-34.pyc
regions/*
locations/*
geospatial_analysis/*
__pycache__/*
*.pyc
*.pyc
FloodMitigation/secrets.py
activate.bat
relocation/migrations/*
FloodMitigation/local_settings.py
scratch/scratch.gdb/*
log_db.sqlite3
*.geojson