*.iml
.idea/*
*.pyc
*__pycache__*
*.cpython-34.pyc
regions/*
locations/*
geospatial_analysis/*
__pycache__/*
*.pyc
*.pyc
FloodMitigation/secrets.py
activate.bat
relocation/migrations/*
FloodMitigation/local_settings.py
log_db.sqlite3
*.geojson
relocation/static/relocation/js/leaflet_ajax/src/*
relocation/static/relocation/js/leaflet_ajax/example/*
relocation/static/relocation/js/leaflet_ajax/README.md
relocation/static/relocation/js/leaflet_ajax/package.json
relocation/static/relocation/js/leaflet_ajax/bower.json
relocation/static/relocation/js/leaflet_ajax/server.js
relocation/static/relocation/js/leaflet_ajax/.gitignore
*.dropbox
desktop.ini
scratch/*
relocation/tbx/hexagons/example.gdb/*